<div class="row">
    <h2>
        Containers <a href="#/new/containers" class="btn btn-default">New Container</a>
        <a href="#/new/scale_containers" class="btn btn-default">Scale Containers</a>
    </h2>
</div>
<div id="resourceTable" class="row" ng-if="contents.length">
  <table class="table table-bordered table-hover" st-table="viewContents" st-safe-src="contents">
        <thead title="Click on the headers to sort">
            <tr class="active">
                <th st-sort="name">Name</th>
                <th st-sort="state">State</th>
                <th st-sort="type">Type</th>
                <th st-sort="cluster_id">Cluster</th>
                <th st-sort="node_id">Node</th>
                <th>Logs</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th>
                  <input st-search="name" placeholder="Enter text to filter" class="input-sm form-control" type="search"/>
                </th>
                <th>
                  <select id="statefilter" name="statefilter" class="input-sm form-control" st-search="state" st-input-event="change">
                    <option value="">All</option>
                    <option value="{{row.state}}" ng-repeat="row in contents | unique:'state'">{{ row.state }}</option>
                  </select>
                </th>
                <th>
                  <select id="typefilter" name="typefilter" class="input-sm form-control" st-search="type" st-input-event="change">
                    <option value="">All</option>
                    <option value="{{row.type}}" ng-repeat="row in contents | unique:'type'">{{ row.type }}</option>
                  </select>
                </th>
                <th>
                  <select id="clusterfilter" name="clusterfilter" class="input-sm form-control" st-search="cluster_id" st-input-event="change">
                    <option value="">All</option>
                    <option value="{{row.cluster_id}}" ng-repeat="row in contents | unique:'cluster_id'">{{getResourceName( clusters, row.cluster_id )}}</option>
                  </select>
                </th>
                <th>
                  <select id="nodefilter" name="nodefilter" class="input-sm form-control" st-search="node_id" st-input-event="change">
                    <option value="">All</option>
                    <option value="{{row.node_id}}" ng-repeat="row in contents | unique:'node_id'">{{getResourceName( nodes, row.node_id )}}</option>
                  </select>
                </th>
                <th></th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="row in viewContents track by $index">
                <td><a href="#/containers" ng-click="loadResource('containers', row.id)">{{row.name}}</a></td>
                <td>
                    <span class="glyphicon glyphicon-ok-circle text-success" aria-hidden="true" ng-if="row.state == 'SUCCESS'"></span>
                    <span class="glyphicon glyphicon-remove-circle text-danger" aria-hidden="true" ng-if="row.state == 'FAILED'"></span>
                    <span class="glyphicon glyphicon-ban-circle text-warning" aria-hidden="true" ng-if="row.state == 'DISABLED'"></span>
                    <span class="glyphicon glyphicon-time text-info" aria-hidden="true" ng-if="row.state == 'IN_PROGRESS'"></span>
                    <small>{{row.state}}</small>
                </td>
                <td>{{row.type}}</td>
                <td>{{getResourceName( clusters, row.cluster_id )}}</td>
                <td>{{getResourceName( nodes, row.node_id )}}</td>
                <td>
                  <p ng-if="!row.logFetched">
                    <a class="btn btn-xs btn-default" href="" ng-click="fetchLogStatus(row.name)">Search</a>
                  </p>
                  <p class="text-info" ng-if="row.logSearching">Searching logs...</p>
                  <p class="text-danger" ng-if="row.logFetched && !row.hasSetupLog && !row.hasTeardownLog">No Logs found</p>
                  <p>
                    <a class="btn btn-xs btn-default" href="#/container_logs/{{row.name}}/setup" ng-if="row.hasSetupLog">Setup</a>
                    <a class="btn btn-xs btn-default" href="#/container_logs/{{row.name}}/teardown" ng-if="row.hasTeardownLog">Teardown</a>
                  </p>


                </td>
                <td>
                    <button class="btn btn-danger btn-sm" ng-click="deleteResource('containers', row.id)">
                        <img src="img/ajax-loader.gif" alt="Processing... " ng-show="row.deletionStarted">
                        Delete
                    </button>
                </td>
            </tr>
            <tr class="active">
              <td colspan="3">Total Containers: {{contents.length}}</td>
              <td colspan="4">Filtered Containers: {{viewContents.length}}</td>
            </tr>
        </tbody>
    </table>
</div>

<div class="panel panel-default" ng-if='details'>
    <div class="panel-heading">
        Node Details : {{details.name}}
    </div>

    <table class="table">
        <tr ng-repeat='(key, value) in details'>
            <td><strong>{{key}}</strong></td>
            <td>{{value}}</td>
        </tr>
    </table>
</div>
