<div class="row">
  <div class="col-md-6">
    <h2>New AWS Provider</h2>
  </div>
  <div class="col-md-6">
    <p class="text-right text-info"><br/>* marked fields are mandatory</p>
  </div>
</div>

<form ng-submit="submit()" name="form">
  <div class="form-group">
        <label for="name">Name *</label>
        <input class="form-control" name="name" type="text" ng-model="resourceData.name" required>
        <span class="help-block">A unique name of the provider.</span>
    </div>
    <div class="form-group">
        <label for="amazonec2_access_key">Access key of aws cloud service *</label>
        <input name="amazonec2_access_key" type="text" class="form-control" ng-model="resourceData.amazonec2_access_key" required>
    </div>
    <div class="form-group">
        <label for="amazonec2_secret_key">Secret key of aws cloud service *</label>
        <input name="amazonec2_secret_key" type="text" class="form-control" ng-model="resourceData.amazonec2_secret_key" required>
    </div>
    <div class="form-group">
        <label for="amazonec2_region">Amazon EC2 Region *</label>
        <select id="amazonec2_region" name="amazonec2_region" class="form-control" ng-model="resourceData.amazonec2_region"
          ng-init="resourceData.amazonec2_region='us-east-1'" required>
            <option value="us-east-1">US East (N. Virginia)</option>
            <option value="us-west-2">US West (Oregon)</option>
            <option value="us-west-1">US West (N. California)</option>
            <option value="eu-west-1">EU (Ireland)</option>
            <option value="eu-central-1">EU (Frankfurt)</option>
            <option value="ap-southeast-1">Asia Pacific (Singapore)</option>
            <option value="ap-northeast-1">Asia Pacific (Tokyo)</option>
            <option value="ap-southeast-2">Asia Pacific (Sydney)</option>
            <option value="ap-northeast-2">Asia Pacific (Seoul)</option>
            <option value="sa-east-1">South America (São Paulo)</option>
        </select>
        <span class="help-block">Region where droplet is hosted.</span>
    </div>
    <div class="form-group">
        <label for="amazonec2_instance_type">AWS Instance Type</label>
        <select id="amazonec2_instance_type" name="amazonec2_instance_type" class="form-control" ng-model="resourceData.amazonec2_instance_type"
          ng-init="resourceData.amazonec2_instance_type='t2.micro'" required>
            <option value="t2.micro">t2.micro</option>
            <option value="m4.large">m4.large</option>
            <option value="m4.xlarge">m4.xlarge</option>
            <option value="m4.2xlarge">m4.2xlarge</option>
            <option value="m4.4xlarge">m4.4xlarge</option>
            <option value="m4.10xlarge">m4.10xlarge</option>
        </select>
    </div>
    <div class="checkbox">
      <label>
        <input type="checkbox" ng-model="resourceData.amazonec2_private_address_only" ng-init="resourceData.amazonec2_private_address_only=false">
        Enable or disable private networking for AWS VM (turned off by default)
      </label>
    </div>
    <button class="btn btn-primary" type="submit" ng-disabled="form.$invalid">Add provider</button>
</form>
